<h1>UserLockers#assign_locker</h1>
<p>Find me in app/views/user_lockers/assign_locker.html.erb</p>

<!-- Adapte conforme necessário -->
<h1>Atribuir Keylocker</h1>

<%= render 'form', user_locker: @user_locker %>

<%= link_to 'Voltar', user_lockers_path %>
